- if answer.is_anonymous
  %div.answer-header.row
    %div.col-1
      %div.answer-icon
        = image_tag answer.user_icon
    %div.answer-name.col-11
      = answer.name_or_hide
- else
  = link_to profile_path(answer.user) do
    %div.answer-header.row
      %div.col-1
        %div.answer-icon
          = image_tag answer.user_icon
      %div.answer-name.col-11
        = answer.name_or_hide
