
%div.question-show
  %div#question.question-item
    %div.question-item-main
      %div.question-item-main-content.flexiblebox
        = @question.content
    %div.question-item-footer.row
      %div.question-item-footer-left.col-4
        =image_tag "title_logo_1.png"
      %div.question-item-footer-center.col-4
        - if @question.answers.length > 0
          = image_tag "communication-4.png", class: "img-base"
          = @question.answers.length
      %div.question-item-footer-right.col-4
        = render 'share/username_post', obj: @question, link: true

  .twitter-share
    = link_to("https://twitter.com/share?url=https://bookrep.tokyo" + question_path(@question) + "&via=bookreptokyo&related=bookreptokyo&hashtags=ブクリプ&text=" + @question.tweet_text, target: ["_blank"], rel: "nofollow") do
      =image_tag "article_share01.png", class: "img-base"
    -# %a.twitter-share-button{"data-show-count" => "false", :href => "https://twitter.com/share?ref_src=twsrc%5Etfw", "data-text" => "@bookreptokyo から", "data-url" => request.path_info, "data-lang"=>"ja", "data-hashtags"=>"ブクリプ", "data-size" => "large"} ツイート


  - if @answers.present?
    %div.answers
      %ul.answer-list
        - @answers.each do |answer|
          %li{class: "answer-item", id:"answer-#{answer.id}"}
            = render 'answer_header', answer: answer
            = link_to(answer.affiliate_url, class: '', target: ["_blank"], rel: "book_affiliate", data: {answer_id: answer.id, user_id: current_user.try(:id), book_id: answer.book.try(:id)}) do
              %div.answer-inner.row
                %div.answer-item-left.col-1.col-lg-2
                %div.answer-item-content.col-8.col-lg-7
                  %div.answer-book-info
                    %div.answer-title
                      = answer.book_title
                    %div.answer-book-authors
                      = answer.authors_txt
                  %div.answer-content
                    = simple_format(answer.content)
                %div.answer-item-image.col-3
                  = image_tag answer.book_image_url
            - if current_user.blank?
              %div.answer-footer.row
                %div.col-1.col-lg-2
                %div.col-11.col-lg-10
                  %i.fa.fa-heart-o.like= answer.likes.size
            - elsif current_user.liked(answer)
              %div{id:"answer-like-#{answer.id}", class: "answer-footer row"}
                = render 'likes/todislike', answer: answer, user: current_user
            - else
              %div{id:"answer-like-#{answer.id}", class: "answer-footer row"}
                = render 'likes/tolike', answer: answer, user: current_user

      = paginate @answers
  - else
    %div.white-back.no-answer
      %div.large= "まだ回答がありません"
      %div.middle
        %p= "あなたのオススメの本を"
        %p= "教えてください！"
      = image_tag "logo_mark_blue.png"


  - if current_user
    = form_for @answer,  html: {id: 'answer_form', class: 'form' }  do |f|
      %div.white-back
        - if @answer.errors.any?
          #error_explanation
            -# %h2= "#{pluralize(@answer.errors.count, "error")} prohibited this answer from being saved:"
            %ul
              - @answer.errors.full_messages.each do |message|
                %li= message
        .field
          -# TODO: title required
          %div#answer-title-dummy-input
            %input{:name => "title_dummy", :placeholder => "オススメの本はこちら", :class=> "input-title input-answer", :id => "answer-title-input"}
          %div#answer-title-tag.d-none.input-title.input-answer
            %div.title-tag.d-inline-block= ""
            %div#answer-title-remove.d-inline-block.btn.remove-button= "x"
          = f.hidden_field :title, :placeholder => "本のタイトルを入力", :class=> "input-title input-answer", :id => "answer-title-input-form"
          = f.text_area :content, required: true, :placeholder => "ここにコメントを書いて投稿しよう", :class=> "input-answer input-question", :id =>"answer-content-input"
          = f.hidden_field :user_id, :value => current_user.try(:id)
          = f.hidden_field :question_id, :value => @question.id
          = f.hidden_field :book_id, :value => nil, :id => "answer-book-id"

        - if current_user.provider == "twitter"
          .field.tweet.separate
            %span.text= "Twitterアカウントで投稿をシェアする"
            %div.checkbox
              = f.check_box :is_tweet, :id =>"checkbox1", :class=>"ios-toggle"
              = label "", "checkbox1", :class=>"checkbox-label"#, :data=>{:off=>"off" , :on=>"on"}
        - else
          .field.tweet.separate.disabled
            -# %div.fade
            %span.text= "Twitterアカウントで投稿をシェアする"
            %div.checkbox
              = f.check_box :is_tweet, :checked=>false, :id =>"checkbox1", :class=>"ios-toggle"
              = label "", "checkbox1", :class=>"checkbox-label"#, :data=>{:off=>"off" , :on=>"on"}

      .actions-group.padding-bottom-unit
        - if current_user.provider == "twitter"
          .actions
            = f.submit 'アカウント名で投稿', class: "btn blue btn-base", name: "normal",id: "post-by-account"
        - else
          .actions
            = f.submit 'ユーザ名で投稿', class: "btn blue btn-base", name: "normal",id: "post-by-account"
        .actions
          = f.submit '匿名で投稿で投稿する', class: "btn orange btn-base answer-submit", name: "anonymous", id: "post-by-anonymous"
  - else
    %div.white-back
      %div.disabled
        .field
          %div#answer-title-dummy-input
            %input{:name => "title_dummy", :placeholder => "オススメの本はこちら", :class=> "input-title input-answer", :id => "answer-title-input"}
            %textarea{required: true, :placeholder => "ここにコメントを書いて投稿しよう", :class=> "input-answer input-question"}
          .field.tweet.separate
            %span.text= "Twitter"
            %div.checkbox
              -# = check_box_tag :is_tweet, :id =>"checkbox1", :class=>"ios-toggle"
              = label "", "checkbox1", :class=>"checkbox-label"#, :data=>{:off=>"off" , :on=>"on"}
        .actions-group.padding-bottom-unit
          .actions
            = submit_tag 'Twitter名で投稿', class: "btn blue btn-base", name: "normal"
          .actions
            = submit_tag '匿名で投稿で投稿する', class: "btn orange btn-base answer-submit", name: "anonymous"
      %div.invition-qs.invite
        %div.invition-qs-txt
          = "登録/ログインして質問に答える"
        %div.invition-buttons
          %div.twitter-login
            = link_to user_twitter_omniauth_authorize_path, class: "btn blue btn-base", id: "twitter-login" do
              %i.fa.fa-twitter="Twitterで登録/ログイン"
          %div.normal-link.mail-login-link
            = link_to "メールアドレスでログイン", new_user_session_path, class: "btn orange btn-base", id: "email-login"

= render("share/ad01")

:ruby
  @page_title = "ブクリプ:"+@question.content
  @seo_contents ="ブクリプ回答ページです。ページ下部の入力欄に書籍タイトルとメッセージを入力すると、質問に答えることができます。"
  @seo_keywords = "ブクリプ, 回答投稿"


-# = link_to 'Edit', edit_question_path(@question)
-# \|
-# = link_to 'Back', questions_path
