!!!
%html
  %head
    %script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"

    :coffee
      (adsbygoogle = window.adsbygoogle or []).push
        google_ad_client: "ca-pub-6030595513792321"
        enable_page_level_ads: true

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title=get_title
    %meta{:name => "keywords", :content => get_seo_keywords}
    %meta{:name => "description", :content => get_seo_contents}

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = include_gon
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = analytics_init if Rails.env.production?
    %link{ rel:  "stylesheet", href: "https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" }
    %script{ type: 'text/javascript', src: 'https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js'}

    - if @question.present? && @question.try(:id).present?  && @question.try(:content).present? && @question.try(:image_url).present?
      %meta{:name => "twitter:card", :content=>"summary_large_image"}
      %meta{:name => "twitter:site", :content=>"@bookreptokyo"}
      %meta{:property => "og:url", :content=>ENV["SERVICE_HOST"] + @question.id.to_s}
      %meta{:property => "og:title", :content=>@question.content}
      %meta{:property => "og:desctiption", :content=>@question.content}
      %meta{:property => "og:image", :content=>ENV["SERVICE_HOST"] + @question.image.sns.url}

  %body
    - if notice
      - if flash[:notice_link]
        %div.notice.bg-blue.slide-slow
          = link_to notice, flash[:notice_link]
          -# = notice
          %a#notice-close= "×"
      - else
        %div.notice.bg-blue.slide-normal
          = notice
          %a#notice-close= "×"
    - if alert
      - if flash[:notice_link]
        %div.notice.bg-red.slide-slow
          = link_to alert, flash[:notice_link]
      - else
        %div.notice.bg-red.slide-normal
          = alert
          %a#notice-close= "×"

    %div.container.max-height
      %div.row.max-height
        %div.d-lg-block.col-lg-2.d-none
        %div.col-12.col-lg-8.max-height.padding-zero
          %div#center.max-height
            %div.header
              %nav.row
                %div.col-4
                - if user_signed_in?
                  %div.logo.col-4
                    =render "share/logo"
                  %div.d-inline-block.right.col-4
                    %div.header-button
                      = link_to 'ログアウト', destroy_user_session_path, method: :delete
                - else
                  %div.logo.col-4
                    =render "share/logo"
                  %div.d-inline-block.right.col-4
                    %div.header-button
                      = link_to user_twitter_omniauth_authorize_path do
                        %i.fa.fa-twitter="登録/ログイン"

            %div#main-contents.max-height
              = yield

            %div.footer
              %ul
                %li
                  = link_to "http://twitter.com/bookreptokyo" do
                    %i.fa.fa-twitter="公式Twitter"
                %li= link_to "プライバシーポリシー", home_policy_path
                %li= link_to "利用規約", home_terms_path
                %li= link_to "お問い合わせ", contacts_new_path
                %li= link_to "質問一覧", questions_path
                %li.copyright
                  %p= "本との出会いに素敵な偶然を"
                  %p= "© 2018 bookrep"


        %div.d-lg-block.col-lg-2.d-none

    - if user_signed_in?
      %div#fix-footer
        %div.container
          %div.row
            %div.d-lg-block.col-lg-2.d-none
            %div.col-sm-12.col-lg-8
              %div.footer-icons.footer-center.row
                %div.footer-item.col-4
                  - if request.path_info == new_question_path
                    -# = link_to image_tag('blue_icon_post.png', { :border => '0', :alt => '質問投稿'}), new_question_path
                    =image_tag('blue_icon_post.png', { :border => '0', :alt => '質問投稿'})
                  - else
                    = link_to image_tag('icon_post.png', { :border => '0', :alt => '質問投稿'}), new_question_path
                %div.footer-item.col-4
                  - if request.path_info == questions_path
                    -# = link_to image_tag('blue_icon_home.png', { :border => '0', :alt => '質問一覧'}), questions_path
                    =image_tag('blue_icon_home.png', { :border => '0', :alt => '質問投稿'})
                  - else
                    = link_to image_tag('icon_home.png', { :border => '0', :alt => '質問一覧'}), questions_path
                %div.footer-item.col-4
                  - if request.path_info == profile_path(current_user)
                    -# = link_to image_tag('blue_icon_profile.png', { :border => '0', :alt => 'プロフィール'}), profile_path(current_user)
                    =image_tag('blue_icon_profile.png', { :border => '0', :alt => '質問投稿'})
                  - else
                    = link_to image_tag('icon_profile.png', { :border => '0', :alt => 'プロフィール'}), profile_path(current_user)
            %div.d-lg-block.col-lg-2.d-none
